<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="stdataEntities" connectionString="metadata=res://*/Models.StockDataModel.csdl|res://*/Models.StockDataModel.ssdl|res://*/Models.StockDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stdata.cgs8s5vqxiye.us-east-1.rds.amazonaws.com;initial catalog=stdata;user id=ReadWriteUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>