@model IEnumerable<stockDataMVC.Models.StockIndex>
@{
    ViewBag.Title = "Trend";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var outData = "";
}
<script src="~/Scripts/TrendMenuAJS.js"></script>
<h2>Trend</h2>
<div class="row" ng-app="trendsApp" ng-controller="myCtrl">
    <div class="col-sm-12">
        <!--style="text-align: center; "-->
        <div class="col-md-3 col-lg-3" style="margin-bottom: 30px;">

            <form>
                <label>Search: <input ng-model="searchText"></label>
                <table id="searchTextResults">
                    <tr><th>ticker</th></tr>
                    <tr ng-repeat="it in list | filter:searchText">
                        <!-- <td><input type="checkbox" name="{{it.id}}" onchange="updateTrendList();"><span>{{it.name}}</span></td>-->
                        <td><input type="checkbox" name="{{it.id}}" ng-model="it.isChecked"><span>{{it.name}} </span></td>

                    </tr>
                </table>

                    <!--<input type="submit" value="OK" />-->
               
                <input type="button" ng-click="submitData()" value="OK" />
            </form>
        </div>
        <div class="col-md-9 col-lg-9" style="margin-bottom: 30px;">
            <ng-include src="getTrendURL()"></ng-include>
            <div id="stockTable">
                No Data
                <!-- partial view content will be inserted here -->
            </div>

        </div>
    </div>
</div>

<script>
    var tList = []
    var obj  = {}
    @foreach (var item in Model)
    {
        @:obj = new tickerObj(@Html.DisplayFor(modelItem => item.ID), "@Html.DisplayFor(modelItem => item.tickerName)",0,0);
        @://obj.name = "@Html.DisplayFor(modelItem => item.tickerName)";
        @://obj.id = @Html.DisplayFor(modelItem => item.ID);
        @://obj.isChecked = false;
        @:tList.push(obj);
    }
    setTickerList(tList);

</script>
  